@font-face {
    font-family: JJJJ;
    src: url(./fonts/koko.ttf);
}

.red{
    background-color: rgb(255, 150, 156);
    height: 500px;
    width: 500px;
    /* background: radial-gradient(red,yellow,blue); linear-gradient, conic-gradient */ 
}

/* h3{
    color: white;
    text-align: center;
     font-size: 70px;
     font-weight: 100;
     font-family: JJJJ;

} */

/* img{
    height: 500px;
    width: 500px;
    object-fit: cover;
    object-position: top;
} */
