@font-face {
    font-family: Pranil;
    src: url(./fonts/font2.ttf);
}


#box{
    height: 500px;
    width: 500px;
    background-color: rgba(228, 80, 17, 0.792);
}


p{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 900;
    font-family: Pranil;
    text-align: center;
    text-transform: lowercase;
}

