
.red{
  height: 200px;
  width: 200px;
  background-color: red;
  margin-left: 20px;
  margin-top: 30px;
  /* display: flex;
  flex-direction: column; */
  /* flex-shrink: 0; */
}


.parent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}