
.parent {
  width: 300px;
  height: 300px;
  background: lightgray;
  position: relative;
}

.child {
  width: 100px;
  height: 100px;
  background: coral;
  position: absolute;
  top: 20px;
  right: 20px;
}
